{% block content %}
<div align=justify>
	<p><b><u>Tax implications:</b></u> Tax implications arising from the acquisition of a real estate property in Kefalonia.</p>
	<div class="graph">{% include 'blog/gchartB.html' %}<br>
	<p><b><u>Acquisition (Same as Alternative A):</b></u></p>
			<ul>
				<li>RETT <br>=> RETT + Municipality Duty = 6,180 euros
				<li>Notary Fees = 1.23% x 200,000 = 2,460 euros
				<li>Greek Land Registry Fees = 0.52% x 200,000 = 1,040 euros<br>or Greek Cadastre = 0.63% x 200,000 = 1,260 euros
			</ul>
</div><br>
	<p><b><u>Note:</b></u> Foreign individuals must have a Greek Tax Registration Number and file a Real Estate Property Data Declaration (E9) within a month after the purchase of the house.</p>
	
	<p><b><u>Holding:</b></u></p>
			<ul>
				<li>ENFIA (Same as Alternative A)<div align=center>=> ENFIA = + 450euros/year x 5years = 2,250 euros</div>
				<li>Municipality Duty (Same as Alternative A)<div align=center>=> Municipality Duty = 500euros/year x 5 years = 2,500 euros</div>
				<li>Duty for cleaning and lighting services offered by the municipality and an extra tax on electrified spaces determined by the municipal council
				<li>Maintenance & Refurbishment Works (Same as Alternative A): the VAT is equal to 23% x 50,000 = 11,500 euros
				<li>Greek Accounting Standards: According to Greek Accounting Standards, foreign corporations have obligations of keeping books and records when they exercise a business activity in Greece. 
					Assuming that the Foreign Co. leases the property and generates income in Greece, it should comply with all obligations of L.4301/2014
				<li>Special Real Estate Tax: A special real estate tax is imposed annually at a rate of 15% on the objective value of the building.
			</ul>
<p><b><u>Note:</b></u> Exemption from the above mentioned special real estate tax may be available for an individual shareholder that has a Greek tax registration number, after submitting a specific set of documentation on an annual basis.</p>

<p><b><u>Income Taxation:</b></u></p>
			<ul>
				<li>Free concession of use of the house: Deemed income arising from the free concession of the property is calculated at 3% of the building’s objective value and applies only to the individual, not the Foreign Co. Assuming that 
					this this benefit is considered as employment income, it is taxable at a scale of 42% and as a result, the annual tax would be <div align=center>=> Free concession tax = 42% x (3% x 200,000)euros/year x 5years = 12,600 euros</div>
				<li>Rental income: The income derived from a property located in Greece is a Greek Source Income and it is taxable in Greece. In our case, if the Foreign Co. leases the house to a 3d party, this business activity is taxed at a rate of 26%.</div>
			</ul>
<p><b><u>Note:</b></u> Free concession issue should be further clarified by the Greek Authorities. However, in order to bypass this uncertainty, the Foreign Co. should have a lease agreement with the individual.</p>
<p><b><u>Note:</b></u> According to the provisions of article 5 of the ITC, any business income arising of a Foreign Co. in Greece, is taxable only if it maintains a permanent establishment (PE) in Greece. Moreover, 
						Greek Tax Authorities have adopted a position in the past that a Foreign Co. that leases a property without being engaged to any 
		other business activity in Greece, does not constitute a PE. As a result, there are grounded arguments to support that the rental income should not be subject to tax.</p>

<p><b><u>Selling or Transferring the House:</b></u></p>
<p><b><u>Selling:</b></u></p>
<p>Based on the analysis above, any income arising for the Foreign Co. from selling the property to a 3d party is not considered taxable unless the Greek Authorities consider that the Foreign Co. has a Permanent Establishment (PE) in Greece - where a tax of 26% 
	for business activities is applied.
</p>
<p><b><u>Sale of shares:</b></u></p>
<p>No tax implications arise in the case that both the individual and the Foreign Co. are foreign tax residents.</p>
<p><b><u>Inheritance:</b></u></p>
<p>In case that the children/wife/parents of the individual have not Greek nationality or the individual has not his residence in Greece, the inheritance-donation of Foreign Co. shares by the individual to his children/wife/parents falls outside the scope of Greek inheritance tax.</p>
</div>
{% endblock %}