<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load Charts and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Draw the pie chart for Sarah's pizza when Charts is loaded.
      google.charts.setOnLoadCallback(drawSarahChart);

      // Draw the pie chart for the Anthony's pizza when Charts is loaded.
      google.charts.setOnLoadCallback(drawAnthonyChart);

      // Callback that draws the pie chart for Sarah's pizza.
      function drawSarahChart() {

        // Create the data table for Sarah's pizza.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
			['RETT', 6000],
			['MUNICIPALITY DUTY', 180],
			['NOTARY FEES', 2460],
			['LAND REGISTRY FEES', 1040],
			['NATIONAL CADASTRE FEES', 1260],

        ]);

        // Set options for Sarah's pie chart.
        var options = {title:'Tax implications of acquiring a house with an objective value of 200,000 euros',
                       width:450,
                       height:300};

        // Instantiate and draw the chart for Sarah's pizza.
        var chart = new google.visualization.PieChart(document.getElementById('Sarah_chart_div'));
        chart.draw(data, options);
      }

      // Callback that draws the pie chart for Anthony's pizza.
      function drawAnthonyChart() {

        // Create the data table for Anthony's pizza.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
			['DIRECT ACQUISITION', 2500],
			['INDIRECT ACQUISITION', 1425],

        ]);

        // Set options for Anthony's pie chart.
        var options = {title:'ENFIA cost over a 5 year life cycle',
                      width:450,
                       height:300};

        // Instantiate and draw the chart for Anthony's pizza.
        var chart = new google.visualization.PieChart(document.getElementById('Anthony_chart_div'));
        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
 
    <!--Table and divs that hold the pie charts-->
    <table class="columns" align = center>
      <tr>
        <td><div id="Sarah_chart_div" style="border: 1px solid #ccc"></div></td>
		<td><div id="Anthony_chart_div" style="border: 1px solid #ccc"></div></td>
      </tr>
    </table>
  </body>
</html>