{% extends 'blog/base.html' %}
{% block content %}
<h5>Author: Sotirios Ilias Tsivras</h5>
<h5>Developer: Sotirios Ilias Tsivras</h5>
<h5>Note: Use Firefox, Chrome or Opera as web browsers for viewing the live graphs</h5>
<a class="btn btn-default" href="{% url 'quest_new' %}"><h5><span class="glyphicon glyphicon-envelope"> <font face="Courier">Contact Form </font></span></h5></a>
<br><br>
<div align=justify>
	<p><b><u>Tax implications arising from the acquisition of a real estate property in Kefalonia (Greece).</b></u></p>
	<p><b><u>Problem:</b></u> Assume that an individual of Swedish Nationality and Tax Residency, examines to purchase a house of 100 square meters in 
				a village of Paliki prefecture in the Kefalonia Island. The house will be purchased at an agreed price of 200,000 euros, 
				needs refurbishment and maintenance works of 50,000 euros and is planned to be loaned to 3d parties for 2 months every year. 
				The individual plans to sell the house to a 3d party or to transfer it to his children 5 years after purchasing the house.
	<p><b><u>Question:</b></u> Which are the tax implications that arise for the individual over a 5 year life cycle for buying-holding-selling the house?</p>
	<p><b><u>Solution:</b></u> Tax implications may be grouped in categories that reflect the major phases of the building life cycle: acquisition – holding – selling/transferring. 
			More precisely, tax implications arise from:</p>
			<ul>
				<li>Purchasing the property
				<li>Refurbishment and maintenance works
				<li>Leasing the property to 3d parties
				<li>Selling the property to a 3d party of transferring it to relatives
			</ul>
	<p>Assuming that an individual of Swedish Nationality and Tax Residency wishes to purchase a house at an agreed cost of 200,000 euros which is equal to the objective value of the property, 
		the following graphs depict all tax categories that arise during the 5 year life cycle of the building.</p>
<div class="graph">{% include 'blog/gchart1.html' %} <br> <b><u>Definition of terms:</b></u><br><br>RETT = Real Estate Transfer Tax = 3% x (objective value of property)<br>
					Municipality Duty = 3% x RETT<br>ENFIA = Annual Real Estate Tax = 2 - 13 euros/sqm for buildings<br>VAT = 23% for all refurbishment and maintenance works & services<br>
					(all costs in graphs are expressed in euros)
</div>
<br>
	<p>The alternatives on the other hand, of acquiring a real estate property in Greece are:</p>
			<ul>
				<li>Direct acquisition by the individual
				<li>Indirect acquisition from a legal entity established to the abroad
			</ul>
	<p><b><u>Note:</b></u> Due to the introduction of the new Greek Income Tax Code (G-ITC) and the recent change in Government, uncertainties may occur in the interpretation of 
		the specific provisions by the Greek Ministry of Economy and the Local Authorities of Kefalonia Island.</p>
	<p>The major differences between acquiring the house directly from the individual and indirectly from a legal entity established to the abroad are:</p>
	<table border="1" cellspacing="0" cellpadding="5" width=900>
		<tr>
		<th  width=300>Tax implication</th>
		<th  width=300>Direct Acquisition</th>
		<th  width=300>Indirect Acquisition</th>
		</tr>
		<tr>
		<td>Special Real Estate Tax</td>
		<td >Not Applicable</td>
		<td >15% special real estate tax</td>
		</tr>
		<tr>
		<td>VAT</td>
		<td >Non recoverable</td>
		<td >May constitute a cost for a foreign corporation</td>
		</tr>
		<tr>
		<td>Rental Income</td>
		<td >11% for income ≤ 12,000 euros<br>33% for income > 12,000 euros</td>
		<td >Not taxable in Greece<br>(at the moment)</td>
		</tr>
		<tr>
		<td>Capital Gain</td>
		<td >15% It reduces as the building ages</td>
		<td >Not taxable in Greece<br>(at the moment)</td>
		</tr>
		<tr>
		<td>Inheritance Tax</td>
		<td >10% for 1st category relations<br>(children, parents etc.)</td>
		<td >Not Applicable</td>
		</tr>
	</table>
</div>

	{% for post in posts %}
		<div class="post">
			<h3><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h3>
			<p align="justify">{{ post.text|linebreaks }}</p>
			<div class="date">
				<p>published: {{ post.published_date }}</p>
			</div>
		</div>
	{% endfor %}
{% endblock %}